<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

    <title>Cheese Emporium</title> 
    <link rel="stylesheet" href="/static/style.css" type="text/css" /> 
    {%block js%}
    {%endblock%}
  </head> 
  <body> 
    <div class=indexwrapper> 
      <div class="document"> 
	<div class="documentwrapper"> 
	  <div class="bodywrapper"> 
	    <div class="body"> 
	      <div class="section" id="flask-themes"> 
		{% set messages = request.session.pop_flash() %}
		{% if messages %}
		<div class='note'>
		  <ul class=flashes>
		    {% for message in messages %}
		    <li>{{ message }}</li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}
		{%block content%}
		{%endblock%}
	      </div> 
	    </div>
	  </div> 
	</div> 
      </div> 
    </div> 
    <div class="clearer"></div> 
  </body> 
</html>
